html,
body {
    height: 100%;
	background-color:#cdffd7;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* 

CUSTOM
*/

.school-form-display,.school-id-form-display,.hide-all-display, .cancel-loan-message,.attachment-loan-message{
	display:none;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


/*------*/
.bg-facade{
    background: url('../images/lending_facade.jpg');
    opacity: 0.5;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lending-logo{
    background: #74e19f;
    padding: 20px;
    color: rgb(3, 3, 3);
    font-size: 45px;
    letter-spacing: 5px;
}

.div-logo{
    position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    text-align: center;
    color: #000;
}

.lending_logo{width:250px; margin-bottom:10px;}

.navbar-inverse {
    background-color: #74e19f;
    border: none;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #464a46;
}

.navbar-inverse .navbar-nav > li > a {
    color: #333;
}

.site-index{margin-top: 60px;}

.body-content{margin-bottom: 20px;}

.pull-right i{
    color: #464a45;
    font-size: 20px;
    margin-left: 10px;
}
.pull-right i:hover{
    color: #2a7118;
}

.pull-left a{
    color: #464a45;
}
.pull-left a:hover{
    color: #2a7118;
    text-decoration:none;
}

.footer {
	background-color: #74e19f;
	color: white;
	width: 100%;
	height: 100px;
	bottom: 0;
	left: 0;
	margin-top: auto;
}
.container{
	min-height:100%;
}
.main-container {
	padding-top: 3%;
}
.padding-bottom-10{
	padding-bottom:10px;
}

.breadcrumb {
	background-color: #f5f5f500;
}

.badge-primary {
    color: #fff;
    background-color: #007bff;
}
.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}
.badge-success {
    color: #fff;
    background-color: #28a745;
}
.badge-danger {
    color: #fff;
    background-color: #dc3545;
}
.badge-warning {
    color: #212529;
    background-color: #ffc107;
}
.badge-info {
    color: #fff;
    background-color: #17a2b8;
}
.badge-light {
    color: #212529;
    background-color: #f8f9fa;
}
.badge-dark {
    color: #fff;
    background-color: #343a40;
}